<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose FLights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/flights/new">Flight</a>
  </body>
</html>
